html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 0;
    margin: 10px;
}

/* ids */
#container {
    position: relative;
    min-height: 100%;
    padding-bottom: 90px;
}

#navi ul li:active {
    color: #000;
}

#glogo {
    margin-top: 80px;
}

#search-container {
    border: 1px solid #b3b3b3;
    margin: 15px auto;
    width: 580px;
    border-radius: 1px;
    box-shadow: 1px 1px 1px #b3b3b3;
}

#search-container:hover {
    box-shadow: 1px 2px 2px #b3b3b3;
}

#search-bar {
    width: 550px;
    height: 40px;
    border: none;
    font-size: 1.2em;
}

#voice-search {
    height: 24px;
    width: 24px;
    align-items: center;
}

#glogo img {
    display: block;
    margin: 0 auto;
    height: 90px;
}

#srch-bttn {
    margin: 25px;
}

#srch-bttn input {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    background-color: #f2f2f2;
    border-radius: 1px;
    font-size: 13px;
    font-weight: bold;
    color: #757575;
}

#srch-bttn input:hover {
    border: 1px solid #757575;
}

/* Sign In Link */
#signIn {
    background-color: rgb(0, 115, 255);
    opacity: .90;
    color: #fff;
    font-weight: bold;
    padding: 7px 13px;
    border-radius: 2px;
}

#signIn:hover {
    text-decoration: none;
}

#signIn:active {
    background-color: rgb(0, 100, 223);
    border-top: 2px solid rgb(0, 0. 77);
}

/* classes */

.body {
    text-align: center;
}

.fr-link {
    float: right;
}

.gApp {
    height: 16px;
    width: 16px;
    opacity: 0.55;
}

.gApp:hover {
    opacity: 0.85;
}

/* Header & Footer */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width;: 200px;   
}

ul li {
    display: inline-block;
    margin: 5px 10px;
}

ul li a:link {
    text-decoration: none;
    color: #000;
}

ul li a:hover {
    text-decoration: underline;
}

ul li a:visited {
    color: #000;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0; 
    left: 0;
    height: 40px;
    background-color: #f1f1f1;
}

footer ul {
    margin: 7px 15px;
}