img{
    display: block;
    margin: 0 auto;
    height: 85px;
}

textarea {
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width;: 200px;
    background-color: #f1f1f1;
    overflow: hidden;   
}

li {
    display: inline;
}