html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 0;
    margin: 0;
}

#container {
    position: relative;
    min-height: 100%;
    padding-bottom: 80px;
}

#glogo {
    margin-top: 150px;
}

/* Search Container */
#search-container {
    border: 1px solid #b3b3b3;
    margin: 15px auto;
    width: 400px;
    border-radius: 3px;
}

/* Search bar */
#search-bar {
    width: 500px;
    height: 30px;
    font-size: 1em;
}

/* Voice Search*/
#voice-search {
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

img{
    display: block;
    margin: 0 auto;
    height: 85px;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width;: 200px;
    overflow: hidden;   
}

li {
    float: left;
}

li a {
    display: block;
    color: black;   
    text-align: center;
    padding: 10px 11px;
    text-decoration: none;
}

li a: :hover {
    background-color: #111;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0; 
    left: 0;
    height: 40px;
    background-color: #f1f1f1;
}

footer ul {
    margin: 7px 15px;
}